@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/ChunkFive/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/ChunkFive/chunkfive-webfont.woff') format('woff'),
         url('../fonts/ChunkFive/Chunkfive.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
html, body {
	margin: 0 auto;
}

body {
	background-color: #fafafa;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin-top: 0;
	font-family: 'Chunkfive';
	font-size: 40px;
	color: #7bca66 !important;
	text-align: center;
	text-transform: uppercase;
}

h6 {
	font-family: 'Chunkfive';
    font-size: 8vw;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: white;
}

p, ul, li, label {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 190%;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

header {
	height: 100px;
	padding: 30px 100px 50px;
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
}

.container {
	width: 1000px;
	margin: 40px auto;
}

nav {
	margin: 0 auto;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding: 10px 35px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

nav li a {
	padding: 5px 0;
	color: #000;
	text-decoration: none;
}

nav li a:hover,
nav li a:active {
	color: #444;
}

footer {
	height: 90px;
	background-color: #fff;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}

footer p {
	padding: 20px 100px;
	text-align: center;
	font-size: 14px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #7bca66;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 1px 1px 1px #7bca66;
    
}

input[type="submit"]:hover {
    background-color: #7bca66;
    box-shadow: 1px 1px 1px #7bca66;
}

.inputBinder {
    margin: 0 auto;
    width: 400px;
}

label {
    display: block;
    margin: 15px auto;
}

input[type="text"], input[type="password"], input[type="email"] {
	padding: 10px 2.5%;
	width: 95%;
    font-size: 15px;
}

/* Loader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    background-image: url("../images/bal.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    		animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

.loader-text {
    display: block;
    position: relative;
	z-index: 1002;
}

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: rotate(0deg);  /* IE 9 */
           			transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	            -ms-transform: rotate(360deg);  /* IE 9 */
	            	transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		        -ms-transform: rotate(0deg);  /* IE 9 */
		            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            	-ms-transform: rotate(360deg);  /* IE 9 */
            		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #7bca66;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        	-ms-transform: translateX(0);  /* IE 9 */
        		transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */

    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        		transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
  
  	    .loaded #loader-wrapper .loader-text {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

/* Language selector */

a#lanSelect {
	cursor: pointer;
}

div#lanHolder {
	position: absolute;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 200px;
	background: white;
	border: 2px solid black;
	padding: 20px 50px;
}

a.lanSelector {
	width: 100%;
	float:left;
	text-decoration: none;
}

a.lanSelector::hover {
	font-weight: bold;
}

a.lanSelector::before {
	content: "- ";
}

div#lanHolder.closed {
	display:none;
}
	
    /* JavaScript Turned Off */

    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }