# Test values -
welcome = Welkom!
back = Terug

# Form
formUsername = Gebruikersnaam 
formPassword = Wachtwoord
formEmail = E-mail
formSubmit = Verstuur

# Language
lan = Nederlands
chooseLan = Kies een taal

# Navigation
home = Home
register = Registreren
login = Inloggen
logout = Uitloggen

# Sign up
EmptyUsername = Vul alstublieft een <b>gebruikersnaam</b> in
EmptyPassword = Vul alstublieft een <b>wachtwoord</b> in
EmptyEmail = Vul alstublieft een <b>email adres</b> in
submitLogin = Inloggen
submitSignUp = Registreren

# Activation
activationMail = Welkom bij Sport Report! \n \n \t Klik op deze link om je account te activeren: \n \t \t %activation%