# Test values -
welcome=Welkom!
back= Terug

# Form
formUsername = Gebruikersnaam 
formPassword = Wachtwoord
formEmail = E-mailadres
formSubmit = Verstuur

# Language
lan = Nederlands
chooseLan = Kies een taal

#Navigation
home = Home
register = Aanmelden
login = Log in

# Sign up
EmptyUsername = Vul alstublieft een <b>gebruikersnaam</b> in
EmptyPassword = Vul alstublieft een <b>wachtwoord</b> in
EmptyEmail = Vul alstublieft een <b>email adres</b> in