# Test values -
welcome=Welkom!
back= Terug

# Global
username = Gebruikersnaam
password = Wachtwoord
email = E-mail adres
submit = Verstuur

# Language
lan = Nederlands
chooseLan = Kies een taal

#Navigation
home = Home
register = Aanmelden
login = Log in

# Sign up
EmptyUsername = Vul alstublieft een <b>gebruikersnaam</b> in
EmptyPassword = Vul alstublieft een <b>wachtwoord</b> in
EmptyEmail = Vul alstublieft een <b>email adres</b> in