# insert statement voor permission
addpermission = insert into sr_permission values(?,?, ?)
adduser = insert into sr_user (`username`, `password`, `email`) values(?, ?, ?)
addcontent = insert into sr_content (`type`, `title`, `date`, `content`, `author`) values(?, ?, ?, ?, ?)
addfollow = insert into sr_follow(?, ?, ?, ?, ?)

# find selects
uniqueName = SELECT COUNT(username) as name FROM sr_user WHERE username = ?
uniqueEmail = SELECT COUNT(email) as mail FROM sr_user WHERE email = ?