# insert statement voor permission
addpermission = insert into sr_permission values(?,?, ?)
adduser = insert into sr_user (`username`, `password`, `email`) values(?, ?, ?)
addcontent = insert into sr_content (`title`, `date`, `content`, `author`) values(?, ?, ?, ?)
addfollow = insert into sr_follow(?, ?, ?, ?, ?)
addLoginAttempt = insert into sr_loginattempt (`username`, `device`, `ip`) values (?, ?, ?)
addActivation = insert into sr_activation (`userid`, `code`) VALUES(?, ?)
addCookie = insert into sr_cookielogg (`userid`, `device`, `ip`, `cookiestring`) VALUES (?, ?, ?, ?)
removeCookie = delete from sr_cookielogg where `cookiestring` = ?

# Unique selects
uniqueName = SELECT COUNT(username) as name FROM sr_user WHERE username = ?
uniqueEmail = SELECT COUNT(email) as mail FROM sr_user WHERE email = ?

# Login selects
findCookie = SELECT userid, ip, date, device FROM sr_cookielogg WHERE cookiestring = ? AND device = ? AND date > DATE_SUB(NOW(), INTERVAL 6 MONTH);
findUser = SELECT userid FROM sr_user WHERE username = ? AND password = ? AND status = "Active"
findUserId = SELECT userid FROM sr_user WHERE username = ?

# Activation
findActivation = SELECT `id`, `userid` FROM sr_activation WHERE code = ? AND used is null and created > DATE_SUB(NOW(), INTERVAL 1 WEEK)
doActivation = UPDATE sr_activation SET used = NOW() WHERE id = ?
userActivate = UPDATE sr_user SET status = 'active' WHERE status = 'Inactive' AND userid = ?

# Object Loads
loadUser = SELECT userid, username, password, email, role, registered, status FROM sr_user WHERE userid = ?
loadPermission = SELECT * FROM sr_permission WHERE role = ?

# Load Content
loadContent = SELECT contentid, title, date, content, author FROM sr_content WHERE contentid = ?
loadLikes = SELECT DISTINCT userid FROM sr_likes WHERE contentid = ?

# Add Content
addContent = INSERT INTO sr_content (`type`, `title`, `content`, `author`) VALUES (?, ?, ?, ?)