# insert statement voor permission
addpermission = insert into sr_permission values(?,?, ?)
adduser = insert into sr_user (`username`, `password`, `email`) values(?, ?, ?)
addcontent = insert into sr_content (`type`, `title`, `date`, `content`, `author`) values(?, ?, ?, ?, ?)
addfollow = insert into sr_follow(?, ?, ?, ?, ?)
addLoginAttempt = insert into sr_loginattempt (`username`, `device`, `ip`) values (?, ?, ?)
addCookie = insert into sr_cookielogg (`userid`, `device`, `ip`, `cookiestring`) VALUES (?, ?, ?, ?)

# Unique selects
uniqueName = SELECT COUNT(username) as name FROM sr_user WHERE username = ?
uniqueEmail = SELECT COUNT(email) as mail FROM sr_user WHERE email = ?

# Login selects
findCookie = SELECT userid, ip, date, device FROM sr_cookielogg WHERE cookiestring = ? AND device = ? AND date > DATE_SUB(NOW(), INTERVAL 6 MONTH);
findUser = SELECT userid FROM sr_user WHERE username = ? AND password = ? AND status = "Active"


# Object Loads
loadUser = SELECT userid, username, password, email, role, registered, status FROM sr_user WHERE userid = ?
loadPermission = SELECT * FROM sr_permission WHERE role = ?