# Config file for LikeMySkills Framework
# Set settings for your own network

# Debug mode gives all errors
debug = true

# default language
deflan = nl

# Database details
dbName = likemyskills
dbHost = localhost
dbUsername = root
dbPassword =

# Root Admin
adminUser = likeMySkills
adminPass = geheim123

# Content
allowedBB = b,i,u,s,h1,h2,h3