# Config file for LikeMySkills Framework
# Set settings for your own network
dirName = LikeMySkills

# Debug mode gives all errors
debug = true

# default language
deflan = nl

# Database details
dbName = sportreport_test
dbHost = 85.214.121.209
dbUsername = sportreport_usr
dbPassword = pDb&u196

# EMail details
mailHost = ssl://smtp.gmail.com
mailMail = sportreport.fontys@gmail.com
mailUser = sportreport.fontys@gmail.com
mailPass = fontysMartijn
mailPort = 465

# Root Admin
adminUser = likeMySkills
adminPass = geheim123

# Content
allowedBB = b,i,u,s,h1,h2,h3
defaultRole = user
loginHash = PRR62zWVqt7xVc
cookieHash = A8ZqePOh849Czu